<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ExCms</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <%= if(should_show_nav_bar?(@conn)) do %>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
              <a class="navbar-brand" href="/cms">ExCms</a>
              <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="navbar-collapse collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="/cms/sites">Sites<span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/cms/assets">Assets</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/cms/layouts/">Layouts</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/cms/pages/">Pages</a>
                  </li>
                </ul>
              </div>
            </nav>
    <% end %>

    <div class="container-fluid">
        <%= if(get_flash(@conn, :info)) do %>
          <p class="alert alert-info text-center" role="alert"><%= get_flash(@conn, :info) %></p>
        <% end %>
        <%= if(get_flash(@conn, :error)) do %>
          <p class="alert alert-danger text-center" role="alert"><%= get_flash(@conn, :error) %></p>
        <% end %>

      <main role="main" class="container-fluid">
        <%= render @view_module, @view_template, assigns %>
      </main>
    </div> <!-- /container -->

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.3.3/ace.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.3.3/ext-beautify.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.3.3/mode-html_elixir.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.3.3/theme-monokai.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/clipboard@1/dist/clipboard.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.3.3/ext-language_tools.js"></script>
  </body>
</html>
