html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  padding-top: 2%;
}

.form-signin {
  align-items: center;
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  padding-top: 10%;
  padding-bottom: 40px;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.menu-btn {
    cursor: pointer;
}

main {
    margin-top: 5%;
}

.help-block {
  color: red;
}

#editor-div {
  border-right: 2px solid black;
  margin-right: 10px;
  padding-right: 20px;
  width: 600px !important;
  height: 100%;
}

iframe {
  border: none;
  width: 500px;
  height: 100%;
}

.ace_editor {
  height: 420px !important;
}

.full-screen { 
  position: absolute !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.full-screen-preview {
  position:fixed; top:0px; left:0px; bottom:0px; right:0px; width:100%; height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999; width: 100%; height: 100%;
}