<div class="row">
    <div class="col col-xs-6">
        <h4>Create new Site</h4>
    </div>
    <div class="col col-xs-6">
        <%= link("Back", to: sites_path(@conn, :index), class: "btn btn-info float-right") %>
    </div>
</div>

 <hr />

 <div class="row">
    <%= render "form.html", Map.put(assigns, :action , sites_path(@conn, :create)) %>
</div>
